
body {
    margin:5%;
    background: url("http://www.imageif.com/images/white-parchment-paper-background-white-parchment-paper.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align:justify
}


p {
    text-indent: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
    font-family: "Times New Roman", serif;
    line-height: 150%;
}
header, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Noteworthy, serif;
    /*font-size: 2.5em;*/

}

image {

}

.imgcaption {
    background-color:rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    font-size: 18px;
    padding:8px;
    width:100%;
    text-align:center;
}

