
body {
    margin:5%;
    background: url("http://www.imageif.com/images/white-parchment-paper-background-white-parchment-paper.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align:justify;
	color: #3E2723;
}

p {
    text-indent: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
    font-family: "Times New Roman", serif;
    line-height: 150%;
}

header, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Noteworthy, "Times New Roman", serif;
    text-shadow: 2px 2px 2px #9E9E9E;
}

pre {
	font-style: italic; 
	font-size: 90%; 
	margin-left: 10%;
}

a {
	color: #3E2723;
}

img {
	border-radius: 8px;
	padding: 2px;
	border: 1px solid #C4B4A1;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.8;
}

.imgcaption {
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    margin-bottom: 4px;
    width: 100%;
    text-align:center;
    font-family: sans-serif;
    color: white;
    font-size: 1em;
}

